body {
	background-color: #E2F1FF;
	font: 12px/1.4 "Helvetica Neue", "Helvetica" serif;
	max-width: 600px;
	margin: 0 auto;
	}
h1 {
	color: #FF7070;
}
h2 {
	color: #7074FF;
}
a {
	color: #7074FF;
}
p {
	border-bottom 1px solid #F9999;
	padding-bottom: 5px;
	font: "Arial";
}
